/* ABOUT AAP */

body {

    margin:0;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;

}

body h1 {

    text-align: center;
}
/* 
====================================================================================== */

header {

    /* box */
 
    grid-area: header;
    background-color:whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}    


/* When the screen (browser window) gets smaller than 768px, each column should have a width of 100%: */
@media only screen and (max-width: 768px) {

    header li {

        display: flex;
        grid-area: header li;
        font-size: 0.7em;
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
    }


}

li {

    
    list-style: none;
    padding: 10px;
    margin: 10px;
    
    
}

a {

    text-decoration: none;
    color:tomato;
}

.push {

    /* move logo to right */
    margin-right: auto;
    justify-items: flex-end;
}

/* ========================================================================================= */

.about-grid {

    display: grid;
    grid-template-columns: 1fr 1.2fr 2fr;
    grid-template-rows: 2fr 4fr 3fr 2fr 3fr; 
    grid-template-areas:  
    
    "our-company        our-company         about-img"
    "our-company        our-company         about-img"
    "related-companies related-companies    about-img"
    "vision-mission     vision-mission      about-img"
    "footer             footer              footer";
    
    margin: .5em;
    height: 100vh;
    }
    
    
    .our-company {
    
        grid-area: our-company;
        /* background-color: brown */
    }

    .related-companies {

        grid-area:related-companies;
        /* background-color: cornflowerblue; */
    }

    .vision-mission  {

        grid-area: vision-mission;
        /* background-color: blue;   */
    }

    .about-img {

        grid-area: about-img;
    

    }


             /* When the screen (browser window) gets smaller than 768px, each column should have a width of 100%: */
@media only screen and (max-width: 768px) {

    .about-grid {

        display: flex;
        grid-area: about-grid;
        font-size: 0.7em;
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
    }

    /* Media Query - Hide the image. */
    .about-img img {


        display: none;
   
    }

}

/* ================================================================================================ */

    .footer {
        /* box */
    
        grid-area: footer;
        display: grid;
        background-color: rgb(37, 35, 35);
    
        /* padding: 20px; */
        
        color: rgb(105, 105, 105);
        font-size: .7em;
    }
    
    
    .footer-wrapper {
    
        display: grid;
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        grid-template-areas: 
        
        "col-1 col-2 col-3" ;
    
    
    }
    
    .col-1 {
    
      
        grid-area: col-1;
        /* background-color: aquamarine; */
    }
    
    .col-2 {
       
        grid-area: col-2;
        /* background-color: rgb(136, 150, 31); */
    }
    
    .col-3 {
       
             grid-area: col-3;
            /* background-color: blanchedalmond; */
    }
    
    /* When the screen (browser window) gets smaller than 768px, each column should have a width of 100%: */
    @media only screen and (max-width: 768px) {
    
        .footer {
    
            display: flex;
            grid-area: footer;
            font-size: 0.7em;
            padding: 0;
            margin: 0;
            display: block;
            width: 100%;
        }
    
    
    }
    
    .row {
    
            display: flex;
           align-content: space-around;
           flex-wrap: wrap;
       
          }  
    
 