/******** Colors

rgb(37, 35, 35) blackish
tomato
dark grey
background-color: rgb(20, 20, 51); midnight bluish
whitesmoke


*/


/* *,
*::before,
*::after {

box-sizing: border-box;

} */


body {

    margin: 0 auto;
    height: 100vh;
    font-family: 'Rubik', sans-serif;

    background: url(./img/wrinkled-paper.jpg) no-repeat center center fixed;
    background-size: cover;
}




header {

    grid-area: header;
    background-color:whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: url(./img/wrinkled-paper.jpg) no-repeat center center fixed;
    background-size: cover;
    color:tomato

}    

.main-nav li {

    list-style: none;
    padding:10px;
}

.main-nav a {
text-decoration: none;
color: tomato;
font-weight: bold;
}

li.push {

    margin-right: auto;
}


section.about {

    display: grid;
    grid-template-columns: 1.85fr 1.85fr;
    grid-template-rows: 2fr 4fr 1fr 1fr;
    grid-template-areas: 
"oc           bp-img"
"rc-list      bp-img"
"jab-img      vsms"
"f-col-1      f-col-2";


height: 100vh;
margin: .1em;
padding: .1em;
gap: .1em;

}

section.about h1 {

    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    
    
}

#oc {

    grid-area: oc;

    background-color: rgb(20, 20, 51);
    padding: 2em;
   
}

#oc p {

    display: flex;
   justify-content: center;
   line-height: 1.5em;
   color: whitesmoke;
   


}

.rc-list {

    grid-area: rc-list;
    background-color: rgb(20, 20, 51);
    padding: 2em;
    
 }

.rc-list li {

    display: flex;
    flex-wrap: wrap;
     flex-direction: column;
     line-height: 1.5em;
     color: whitesmoke;
     height: 100%;
}

#jab-img {

    grid-area: jab-img;

  }

#jab-img img {

    height:auto;
    width: 100%;

}

#bp-img {

    grid-area: bp-img;
}

#bp-img img{

    width: 100%;
    height: 100%;

}

div.vsms {

    grid-area: vsms;

    background-color: rgb(20, 20, 51);
    padding: 2em;
}



div.vsms p {


    line-height: 1.5em;
    color: whitesmoke;
   
}

/* ==================================FOOTER============================================================== */


.f-col-1, 
.f-col-2{


    
    display: block;
        list-style: none;
            line-height: 1.5em;
            font-size: .8em;
        padding: 1em;
    margin: .1em;

    background-color: rgb(37, 35, 35);
    color:rgb(105, 105, 105);


}

.f-col-1 li, 
.f-col-2 li {
    line-height: 1.5em;
    list-style: none;
}



.store-name-1,
.store-name-2,
.store-address-1,
.store-map{

    text-align: center;
    color:tomato;
    font-size: 1em;
    
}

    a.footer-address__link {

    color:tomato

   }

 /* =====================================MOBILE SCREENS========================================= */

 @media only screen and (max-width: 768px) {


    section.about {

        display: block;
        padding:0;
        margin: 0;
        width:100%;
    }


   #jab-img {

    display: none;

   }

}

@media only screen and (max-width: 650px){


    .main-nav li {

        display: block;
       
        list-style: none;
        /* padding:10px; */
        font-size: .8em;
        margin-right: auto;
    }

    .main-nav img {

        display: none;
    }

    section.about {

        display: block;
        padding:0;
        margin: 0;
        width: 100%;
        font-size: smaller;
    }

 
   #bp-img, 
   #jab-img {

    display: none;

   }



}