/******** Colors

background-color: rgb(25, 38, 77); --desc background color
color: whitesmoke; --desc font color
color:#f25757; --title font color
    background-color: rgb(37, 35, 35); -- footer background color
    color:rgb(105, 105, 105); -- footer text color



/* *,
*::before,
*::after {

box-sizing: border-box;

} */

/*  apple props to all elements */
* {

    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 100%;
    /* add spacing, no bullets */
    list-style: none;

}

/* *****************************HEADER***************************** */

/* Sticky code fixed header at top of page */
header.sticky {
    position: sticky;
    top: 0;
    background: rgb(37, 35, 35);
  }
  
  /* End sticky code fixed header at top of page */



/* Header */

.main-nav,
.main-nav a {

    display: block;
    padding: .1rem .1rem;
    /* justify-content: space-evenly;
    margin: .5rem auto; */
    text-decoration: none;
    color:#f25757;
    font-weight: bolder;
    list-style: none;

}

  /* nav bottom borders  */
  ul.main-nav li:nth-child(2),
  ul.main-nav li:nth-child(3),
  ul.main-nav li:nth-child(4),
  ul.main-nav li:nth-child(5) {
  
    border-bottom: .1px solid rgb(105, 105, 105);
  }


  /* remove whitepace h1 and ul */
  ul.main-nav {

    margin:0;

  }


  /* styling small screen logo */

header div:first-child {

    background: black; 
    
    }
    
    /* mobile screen logo */
    header div:first-child h1{
    
      line-height: .1rem;
      padding: .8rem .1rem;
      text-align: center;
     
    }

    
/* Hide Logo */
.main-nav img {

    display: none;
}

/* button color */
.btn-outline-danger {

    color: #f25757;
    font-weight: bold;

}


.our-companies,
.vision-mission {

    color: whitesmoke;
    background-color: rgb(25, 38, 77);

}

/* fill container */
.banner-photo img,
.j-brands-photo img {

    width: 100%;
    height: 100%;
 
}



/* title spacing  */
 
.store-map,
.vs-title,
.ms-title,
h1,
p {

    text-align: center;
    /* font-weight: bold; */
    color:whitesmoke;
    padding: 1rem;
    font-size: 1.25rem;
  
}


/* consistancy */
.related-companies ul,
.our-companies p,
.vision-mission p {

padding: 1rem;

}

.vs-desc,
.ms-desc {

    text-align: center;

}

/* remove white space */
.ms-desc p {

    margin:0;
}



/* ================FOOOTER============================ */

.f-col-1, 
.f-col-2 {

    display: block;
    list-style: none;
    line-height: 1.5em;
    font-size: .8em;
    padding: 1rem;
    margin: 0;
    background-color: rgb(37, 35, 35);
    color:rgb(105, 105, 105);
}



.store-name-1,
.store-address-1,
.store-map,
h1 {

    text-align: center;
    color:#f25757;
    padding: 1rem;
    font-size: 1.25rem;
    text-decoration: underline dotted;
    font-weight: bold;
    
}



/* apply props to screens 515px or more */
@media only screen and (min-width:515px) {

     /* hide mobile logo */
  header div:first-child h1{

    display: none;
  
  }

    /* remove nav borders  */
ul.main-nav li:nth-child(2),
ul.main-nav li:nth-child(3),
ul.main-nav li:nth-child(4),
ul.main-nav li:nth-child(5),
ul.main-nav li:nth-child(6) {

  border-bottom: 0;

}   

/*move to side of screen*/
.main-nav {

    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

  .main-nav li,
  .vision-mission li {

    padding: .5rem;

  }
               /* show logo */
               .main-nav img {

                display: block; 

                }

/* move logo to left screen */
li.push {

    margin-right: auto;

}


 
}

/* apply props above  770px or above  */
@media only screen and (min-width: 770px) {

    #about-container {

        display: grid;
        grid-template-columns: 1.7fr 2fr;
        grid-template-rows: repeat(1fr 1fr .7fr .5fr);
        /* gap: .1rem; */
        grid-template-areas: 
        
        "our-companies      banner-photo"
        "related-companies  j-brands-photo"
        "vision-mission    vision-mission"
        "site-footer          site-footer";
        /* "site-footer        site-footer"; */

        /* height: 100vh; */
        width: 100%;
        
    }


    .our-companies,
    .related-companies {

        grid-area: our-companies, related-companies;
        padding: 2rem;
       
    
    }

    .our-companies p {

        line-height: 2rem;
    }

    .related-companies li {
        padding: .5rem;
    }

    .banner-photo {

        grid-area: banner-photo;
        /* background-color: orangered; */

    }

    .j-brands-photo img {

        grid-area: j-brands-photo;
        /* background-color: red; */
    }

    


    .vision-mission {

        grid-area: vision-mission;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        /* background-color: rgb(25, 38, 77);
        color: whitesmoke; */
        padding:2rem;

    }


/* .f-col-1 li,
.f-col-2 li {

    padding: 1rem 2rem;
}
  */

}